<form
  class="btn-group"
  role="group"
  aria-label="Basic radio toggle button group"
  (change)="filterList($event)"
>
  <input
    type="radio"
    class="btn-check"
    name="btn-radio-filter"
    id="btn-radio-filter-1"
    autocomplete="off"
    value="income"
    checked
  />
  <label class="btn btn-outline-primary" for="btn-radio-filter-1">income</label>

  <input
    type="radio"
    class="btn-check"
    name="btn-radio-filter"
    id="btn-radio-filter-2"
    autocomplete="off"
    value="outcome"
  />
  <label class="btn btn-outline-primary" for="btn-radio-filter-2"
    >outcome</label
  >

  <input
    type="radio"
    class="btn-check"
    name="btn-radio-filter"
    id="btn-radio-filter-3"
    autocomplete="off"
    value="loan"
  />
  <label class="btn btn-outline-primary" for="btn-radio-filter-3">loan</label>

  <input
    type="radio"
    class="btn-check"
    name="btn-radio-filter"
    id="btn-radio-filter-4"
    autocomplete="off"
    value="investment"
  />
  <label class="btn btn-outline-primary" for="btn-radio-filter-4"
    >investment</label
  >
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of list.data; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ item.name.last + " " + item.name.first | titlecase }}</td>
      <td>{{ item.amount | currency: "USD" }}</td>
    </tr>
  </tbody>
</table>
